.gradle
build/**
!gradle/wrapper/gradle-wrapper.jar

# Log files and derby artifacts
derby.log

### IntelliJ IDEA ###
.idea/

### VS Code ###
# .vscode/

### Mac OS ###
.DS_Store

### BOXLANG ###
/libs/
src/test/resources/libs/*
!src/test/resources/libs/.gitkeep
src/test/resources/modules/
grapher/**
